<h1>Eurovision Song Contest 2016</h1>



<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for User.new do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form_control' %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'form_control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form_control' %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: 'form_control' %>

			<%= f.submit "Account erstellen", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<div class="wrapper">

<p> Bereits dabei mit Fähnchen in der Hand: 

<table>
<tr>
<% @users.each do |user| %>
		<td><%= user.name %></td>
		<td><%= gravatar_for user, size: 50 %></td>
	</tr>
<% end %>	

</p>

</div>