<% provide(:title, @user.name) %>

<h1><%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Teilnehmerland</th>
    <th>Punkte</th>
    <th>Abstimmen</th>
  </tr>
  <% @countries_for_table.each do |c| %>
    <tr>
      <td> <%= c["country"].name %> </td>
      <td> <%= c["vote"].points %> </td>
      <td>
        <%= form_for [@user, c["vote"]] do |f| %>
          <%= f.hidden_field :country_id, :value => c["country"].id %>
          <%= f.select :points, 
            options_for_select(c["points_options"], c["vote"].points)%>
          <%= f.submit("Abstimmen") %>
        <% end %>
      </td>
    </tr>
  <% end %>

 </table>