<h1>Eurovision Song Contest 2016</h1>



<div class="wrapper">

<table>
	<% @countries.each do |country| %>
	<tr>
		<td><%= country.name %></td>
		<td><%= country.total_score %></td>
	</tr>
	<% end %>	

</table>

</div>

<li> <%= link_to "Sign Up", new_user_path%> </li>
