<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "DOUZE POINTS", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        
        <% if logged_in? %>
          <li class="gravatar">
                    <%= image_tag avatar_url(current_user, 20) %> 
          </li>
          <li class="divider"></li>
          <li> <%= link_to "Profile", current_user %></li>
    
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %> </li>
              <li class="divider"></li>
          
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>