<!DOCTYPE html>
<html>
<head>
  <title>Douze Points</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   
</head>
<body>

	<%= render 'layouts/header' %>

	<% flash.each do |type, message| %>
	<div class="alert flash <%= type %>">
		<%= message %>
	</div>	
	<% end %>

<%= yield %>

</body>
</html>